extends base.pug

block scripts
  script(src='/static/index.js')

block style
    style 
      include ../static/style.css
      include ../static/styleContact.css
      include ../static/styletrainer.css


block content
    div.container
       h1 Register As A Trainer For Doing Some MAGIC
       p  Fill the form and our representative will contact you soon !
       form(action="/trainer",method="post",class="myForm") 
            input(type="text,",class="myInput",name="name",placeholder="Enter your name")
            input(type="phone,",class="myInput",name="phone",placeholder="Enter your phone number ")
            input(type="email,",class="myInput",name="email",placeholder="Enter your email id")
            input(type="text,",class="myInput",name="field",placeholder="In which field you are expert") 
            input(type="text,",class="myInput",name="location",placeholder="Location")
            textarea#detail(name="detail",class="myInput", cols="30", rows="10") 
            input(type="password",class="myInput",name="password",placeholder="Enter your Password")
            input(type="password",class="myInput",name="password",placeholder="Rewrite your Password")
            input(type="reset",class="btn", value="reset now")
            button(class="btn")
                | Submit 